<div class="a-si-wrapp">
  <div class="a-si-container">
    <section>
      <div class="a-si-title">
        <p>CRM - system</p>
      </div>
    </section>
    <section>
      <span>Sign in to go to CRM</span>
    </section>
    <section>
      <div class="a-si-maket">
        E-mail: {{ demoUserLogin }}<br>Password: {{ demoUserPassword }}
      </div>
    </section>
    <section>
      <div class="a-si-signin">
        <form [formGroup]="formGroup" novalidate>
          <label class="a-si-item">Login:</label>
          <div class="a-si-item">
            <input type="text" class="a-si-input" placeholder="Login" formControlName="login" />
          </div>
          <label class="a-si-item">Password:</label>
          <div class="a-si-item">
            <input type="password" class="a-si-input" placeholder="Password" formControlName="password" />
          </div>
          <div class="a-si-item">
            <button class="a-si-button" (click)="clickSignIn()">Sign in</button>
          </div>
        </form>
      </div>
    </section>
    <section>
      <span>Version: {{ version }}</span>
    </section>
  </div>
</div>