/*# sourceURL=login.component.scss */
$color1: #f0f9ff;
$color2: #cbebff;
$color3: #a1dbff;

:host {
  display: block;
  height: 100%;
  font-size: 12px;
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 0%, $color2 47%, $color3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 47%,$color3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $color1 0%,$color2 47%,$color3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color3,GradientType=0 ); /* IE6-9 */

  .a-l-wrapp {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .a-l-container{
    width: 380px;
    border-radius: 5px;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 15px 15px;

    section {
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;    
    }
  }
  .a-l-title {
    padding: 10px 60px 10px 60px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: azure;
    font-size: large;
    font-weight: 500;
  }
  .a-l-maket {
    display: inline-block;
    text-align: start;
    width: 170px;
    padding: 15px;
    background: #e9ece1;
    border-radius: 3px;
    line-height: 1.4;
  }
  .a-l-login {
    display: inline-block;
    text-align: start;
    width: 280px;
  }
  .a-l-item-mar {
    margin: 5px 0;
  }
  .a-l-input {
    font-size: 1em;
    height: 18px;
    width: calc(100% - 7.95px);
  }
  .a-l-button {
    width: 100%;
    height: 24px;
  }

}
