/*# sourceURL=signout.component.scss */

:host {
  display: block;
  height: 100%;
  font-size: 12px;

  .a-so-wrapp {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .a-so-container {
    width: 380px;
    border-radius: 5px;
    min-height: 200px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 15px 15px;

    section {
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;    
    }
  }
  .a-so-title {
    padding: 10px 60px 10px 60px;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: azure;
    font-size: large;
    font-weight: 500;
  }
}